.home-page {
  height: 95vh;
}

.Header {
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  margin: 0 60px;
}

.menu-bar {
  display: none; /* Ẩn menu bar trên màn hình lớn */
}

.menu-bar .line-1,
.line-2,
.line-3 {
  width: 30px;
  height: 3px;
  background-color: #000;
  margin: 5px 0;
}

.logo img {
  height: 50px;
}

.header-nav-container {
  margin-left: 40px;
  flex-grow: 1;
}

.header-nav,
.nav-list {
  display: flex;
  width: max-content;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-right: 20px;
}

.nav-item a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.nav-item a:hover {
  color: #0979fd;
}

.account-header {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #fff;
}

.account {
  position: relative;
  margin-right: 20px;
}

.account-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.icon-large {
  font-size: 32px;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.account:hover .dropdown-list {
  display: block;
}

.dropdown-list li {
  padding: 10px;
}

.dropdown-list a {
  color: #0979fd;
  text-decoration: none;
}

.hotline {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hotline * {
  text-decoration: none;
}

.hotline .text {
  margin-left: 10px;
  color: #f79321;
  font-size: 26px;
}

.time {
  margin-left: 15px;
}

@media (max-width: 1024px) {
  .container {
    margin: 0px;
  }
  .header-nav-container {
    margin-left: 0; /* Đặt lại lề khi màn hình nhỏ */
  }

  .menu-bar {
    display: block; /* Hiển thị menu bar khi màn hình nhỏ */
    margin-right: 10px;
    cursor: pointer; /* Thêm con trỏ khi hover */
  }

  .header-nav {
    display: none; /* Ẩn menu khi màn hình nhỏ */
  }

  .header-nav.active {
    display: flex !important;
    flex-direction: column; /* Đặt hàng theo chiều dọc */
    position: absolute; /* Đặt vị trí tuyệt đối */
    top: 60px; /* Khoảng cách từ đầu trang */
    left: 0;
    width: 100%; /* Đặt chiều rộng 100% */
    background-color: #333; /* Màu nền của menu */
    z-index: 10; /* Đảm bảo menu nằm trên các phần tử khác */
  }
}

@media (max-width: 768px) {
  .logo img {
    height: 30px; /* Giảm chiều cao logo xuống một nửa */
    margin-right: 20px;
  }
  .hotline {
    width: fit-content;
    font-size: 12px;
  }
  .hotline .text {
    font-size: 18px;
    margin-left: 0px;
  }
  .account-link .text {
    display: none; /* Ẩn phần văn bản khi màn hình nhỏ hơn 768px */
  }
}
